:root {
  --font-family: "Fredoka", sans-serif;
  --background-color: #4d4c7d;
  --dark-background: #363062;
  --primary-color: #f5f5f5;
  --primary-deep-color: #e8e8e8;
  --line-height: 1.5;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  cursor: pointer;
}
